.Titre {
    text-align: center;
}
.jour {
    display: flex;
    
    justify-content: space-around;

}

.ImageP {
    display: flex;
    
    justify-content: space-around;

}

.bouton {
    display: flex;
    
    justify-content: space-around;

    margin-bottom: 30px;
}