#conteneur
{
    display: flex;
    height: 200px; /* Un peu de hauteur pour que les éléments aient la place de bouger */
    width: 100%;  /* permet de modifier la largeur de la boite */
    
    border: solid;

    text-align: center;
    align-items: center;
    justify-content: center;

    margin-top: 2%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grandtitre
{
    background-color: rgb(224, 68, 68); 
    text-align: center;
    font-family: 'Parisienne', cursive;
    font-size: large;
}

.box
{
    display: flex;
    flex-direction: row;

    background-color: aqua;
 
    justify-content: center;
    
}
.interbox
{
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.but
{
    background-color: gray; 
    margin-right: 5%;
    font-family: 'Parisienne', cursive;
}
.titre 
{
    background-color: aquamarine;
}
.explication 
{
    background-color: bisque;
}
